<html>
    <head>
        <title>Custom Valdiators in Mongoose (Nodejs Interface for mongodb)</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    </head>

<body>
    <div class="container">

    